<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate previous_label: '&laquo;', next_label: '&raquo;' %>
<ul class="users">
  <%= render @users %>
  <%# @users.each do |user| %>
  <%#= render user %>
  <%# end %>
</ul>
<%= will_paginate  previous_label: '&laquo;', next_label: '&raquo;' %>

